<% provide(:title, 'password reset form') %>
<div class="card">
  <div class="card-body login-card-body">
    <p class="login-box-msg">You forgot your password? Here you can easily retrieve a new password.</p>
    <%= form_with(url: password_resets_path, scope: :password_reset, local: true) do |f| %>
      <div class="input-group mb-3">
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
        <div class="input-group-append">
          <div class="input-group-text">
            <span class="fas fa-envelope"></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <%= f.submit "Request new password", class: "btn btn-primary btn-block" %>
        </div>
        <!-- /.col -->
      </div>
    <% end %>

    <p class="mt-3 mb-1">
      <%= link_to "Login", new_session_path %>
    </p>
    <p class="mb-0">
      <%= link_to "Register a new membership", new_user_path, class: "text-center" %>
    </p>
  </div>
  <!-- /.login-card-body -->
</div>
