<% provide(:title, @current_user.name + 'の検索') %>
<%= render "users/user_top_path" %>
<!--チャネル使用時に下記の1行を使う-->
<div id="current_user_id" data-user_id="<%= @current_user.id %>"></div>
<div id="post-comment-container"></div>
<!-- タブを開いた時にタブのIDを生成する -->
<div id="search_tab_id-<%= @current_user.id.to_s %>" data-tab_id="<%= @tab_id %>"></div>
<!-- タブを開いた時に現在ユーザのプロフィール画像を表示するためのhtmlを取得する -->
<div id="current_user_img-<%= @current_user.id.to_s %>"
     data-user_image='<%= image_tag url_for(@current_user.display_image), class: "img-fluid rounded" if @current_user.image.attached? %>'></div>
<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <%= form_with(url: search_index_path, method: "GET", local: false, remote: true) do |f| %>
          <div class="input-group input-group-lg">
            <%= f.hidden_field :tab_id, value: @tab_id %>
            <%= f.search_field :value, class: "form-control", placeholder: "Type your keywords here", value: "#{@search_value if @search_value.present?}", id: "search_field-#{@tab_id}" %>
            <div class="input-group-append">
              <%= button_tag sanitize('<i class="fa fa-search"></i>Search'), :type => "submit", :class => "btn btn-lg btn-default", id: "search-btn-#{@tab_id}" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!--    ここに新しい投稿を追加   -->
    <div id="search_value-<%= @tab_id %>" class="search_value-<%= @search_value %>"></div>
    <div id="search-container" class="search-container-<%= @current_user.id.to_s %>-<%= @tab_id %>" data-value="<%= @search_value %>">
      <%= render "microposts/microposts_index", microposts_index: @micropost_search, current_user: @current_user, post_comment: @post_comment %>
    </div>
  </div>
</section>
<script>
    window.onload = function () {
        $("#search-btn-<%= @tab_id %>").click()
    }
</script>
