<!-- Widget: user widget style 1 -->
<div id="user_widget_images-<%= user.id.to_s %>" class="user_widget_images">
  <div class="card card-widget widget-user shadow-lg">
    <!-- Add the bg color to the header using any of the bg-* classes -->

    <div class="widget-user-header text-white"
         <% if preview %>
         id="preview_background_img"
         <% end %>
         style='background: url("<%= url_for(user.display_background_image.processed) if user.image.attached? %>");center: center;'>
      <div class="row">
        <div class="col-md-1">
          <% if preview == false && user == current_user %>
            <a href="#" class="text-muted" data-toggle="modal" data-target="#modal-user_widget-<%= current_user.id.to_s %>">
              <i class="fas fa-edit text-white text-left"></i>
            </a>
          <% end %>

        </div>
        <div class="col-md-11">
          <h3 class="widget-user-username text-right">
            <div class="user_widget_user_name-<%= user.id.to_s %>"><%= user.name %></div>
          </h3>
        </div>
      </div>
      <h5 class="widget-user-desc text-right">
        <div class="user_widget_user_job-<%= user.id.to_s %>"><%= user.profiles.job %></div>
      </h5>

    </div>
    <div class="widget-user-image">
      <%= image_tag url_for(user.display_image), class: "profile-user-img img-fluid img-circle", id: "#{"preview_profile_img" if preview }" %>
    </div>

    <div class="card-footer">
      <div class="row">
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">3,200</h5>
            <span class="description-text small"><a class="text-muted" href="javascript:FollowingIndexPageLink();">Following</a></span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4 border-right">
          <div class="description-block">
            <h5 class="description-header">13,000</h5>
            <span class="description-text small"><a class="text-muted" href="javascript:FollowersIndexPageLink();">Followers</a></span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
        <div class="col-sm-4">
          <div class="description-block">
            <h5 class="description-header">35</h5>
            <span class="description-text small">Group</span>
          </div>
          <!-- /.description-block -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <% if user != current_user %>
        <% if current_user.following?(user) %>
          <%= link_to "Unfollow", follow_relation_path(id: current_user.active_relation.find_by(following_id: user.id).id), class: "btn btn-primary btn-flat btn-sm float-lg-right", method: :delete %>
        <% else %>
          <%= link_to "Follow", follow_relation_index_path(following_id: user.id), class: "btn btn-primary btn-flat btn-sm float-lg-right", method: :post %>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- /.widget-user -->
</div>
<script>
    function FollowingIndexPageLink() {
        window.parent.parentFollowingIndexPageLink("<%= follow_relation_index_path(id:user.id,index:'following') %>", "<%=user.name %>");
    }

    function FollowersIndexPageLink() {
        window.parent.parentFollowingIndexPageLink("<%= follow_relation_index_path(id:user.id,index:'followers') %>", "<%=user.name %>");
    }
</script>

