<div class="modal fade" id="modal-user_widget-<%= @current_user.id.to_s %>">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <%= form_with(model: user, method: "PUT", remote: true, local: false,class: "user_image_preview") do |f| %>
        <div class="modal-header">
          <h4 class="modal-title">Preview</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-md-8">
            <%= render "users/user_widget", user: user, current_user: @current_user, preview: true %>
          </div>
          <div class="form-group">
            <div class="custom-file">
              <%= f.file_field :image, accept: "image/jpeg,image/gif,image/png", class: "custom-file-input", id: "profile_image_file" %>
              <%= f.label :image, class: "custom-file-label", id: "profile_image_label" %>
            </div>
            <div class="custom-file">
              <%= f.file_field :back_ground, accept: "image/jpeg,image/gif,image/png", class: "custom-file-input", id: 'backGround_file' %>
              <%= f.label :back_ground, class: "custom-file-label", id: "background_image_label" %>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <%= f.submit "Preview", class: "btn btn-primary", name: :preview, id: "preview_user_image", remote: true, method: "PUT", style: ("display:none") %>
          <%= f.submit "Save changes", class: "btn btn-primary", name: :save ,id:"submit_save_user_image"%>
        </div>
      <% end %>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->