<% provide(:title, @current_user.name + 'のFollow List') %>
<%= render "users/user_top_path" %>
<!-- Main content -->
<section class="content">

  <!-- Default box -->
  <div class="card card-solid">
    <div class="card-header p-2">
      <ul class="nav nav-tabs nav-fill justify-content-center">
        <li class="nav-item <%= "active" if @index == "following" %>">
          <a class="nav-link <%= "active" if @index == "following" %>" href="#following" data-toggle="tab">Following</a>
        </li>
        <li class="nav-item <%= "active" if @index == "followers" %>">
          <a class="nav-link <%= "active" if @index == "followers" %>" href="#followers" data-toggle="tab">Followers</a>
        </li>
      </ul>
    </div><!-- /.card-header -->
    <div class="card-body pb-0">
      <div class="tab-content">
        <div class="tab-pane <%= "active" if @index == "following" %>" id="following">
          <div class="row d-flex align-items-stretch">
            <% if @following_user_all.present? %>
              <% @following_user_all.each do |following_user| %>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                  <div class="card bg-light">
                    <div class="card-header text-muted border-bottom-0">
                      <%= following_user.profiles.job %>
                    </div>
                    <div class="card-body pt-0">
                      <div class="row">
                        <div class="col-7">
                          <h2 class="lead"><b><%= following_user.name %></b></h2>
                          <p class="text-muted text-sm"><b>Notes: </b> <%= following_user.profiles.notes %>
                          </p>
                          <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                              Location:
                              <%= following_user.profiles.location %>
                            </li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                              Skills: <%= following_user.profiles.skills %>
                            </li>
                          </ul>
                        </div>
                        <div class="col-5 text-center">
                          <%= image_tag url_for(following_user.display_image), class: "img-circle img-fluid" if following_user.image.attached? %>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="text-right">
                        <a href="#" class="btn btn-sm bg-teal">
                          <i class="fas fa-comments"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-primary">
                          <i class="fas fa-user"></i> View Profile
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p>まだ誰もフォローしていません</p>
            <% end %>

          </div>
        </div>
        <div class="tab-pane <%= "active" if @index == "followers" %>" id="followers">
          <div class="row d-flex align-items-stretch">
            <% if @followers_user_all.present? %>
              <% @followers_user_all.each do |follower_user| %>
                <div class="col-12 col-sm-6 col-md-4 d-flex align-items-stretch">
                  <div class="card bg-light">
                    <div class="card-header text-muted border-bottom-0">
                      <%= follower_user.profiles.job %>
                    </div>
                    <div class="card-body pt-0">
                      <div class="row">
                        <div class="col-7">
                          <h2 class="lead"><b><%= follower_user.name %></b></h2>
                          <p class="text-muted text-sm"><b>Notes: </b> <%= follower_user.profiles.notes %>
                          </p>
                          <ul class="ml-4 mb-0 fa-ul text-muted">
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span>
                              Location:
                              <%= follower_user.profiles.location %>
                            </li>
                            <li class="small"><span class="fa-li"><i class="fas fa-lg fa-phone"></i></span>
                              Skills: <%= follower_user.profiles.skills %>
                            </li>
                          </ul>
                        </div>
                        <div class="col-5 text-center">
                          <%= image_tag url_for(follower_user.display_image), class: "img-circle img-fluid" if follower_user.image.attached? %>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="text-right">
                        <a href="#" class="btn btn-sm bg-teal">
                          <i class="fas fa-comments"></i>
                        </a>
                        <a href="#" class="btn btn-sm btn-primary">
                          <i class="fas fa-user"></i> View Profile
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            <% else %>
              <p>フォロワーがいません</p>
            <% end %>

          </div>
        </div>
      </div>
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
      <nav aria-label="Contacts Page Navigation">
        <ul class="pagination justify-content-center m-0">
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>

        </ul>
      </nav>
    </div>
    <!-- /.card-footer -->
  </div>
  <!-- /.card -->
</section>
<script>
    function parentHomePageLink() {
        window.parent.parentFollowingIndexPageLink();
    }

</script>