<div class="post" style="border-bottom:1px solid #adb5bd;">

  <div class="user-block">
    <% if micropost.user.image.attached? %>
      <img src="<%= url_for(micropost.user.display_image.processed) if micropost.user.image.attached? %>" class="profile-user-img img-fluid img-circle">
    <% end %>
    <span class="username">
      <%= link_to micropost.user.name, micropost.user %>
      <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
    </span>
    <span class="description"><%= time_ago_in_words(micropost.created_at) %>
      -ago.</span>
  </div>
  <p>
    <%= micropost.content %>
  </p>
  <div class="text-left">
    <%= image_tag url_for(micropost.display_image.processed), class: "img-fluid rounded" if micropost.image.attached? %>
  </div>
  <p>
    <a href="#" class="link-black text-sm mr-2"><i class="far fa-thumbs-up mr-1"></i>
      Like</a>
    <span class="float-right">
                          <a href="#" class="link-black text-sm">
                            <i class="far fa-comments mr-1"></i> Comments (5)
                          </a>
                      </span>
  </p>

  <input class="form-control form-control-sm" type="text" placeholder="Type a comment">
</div>
