<div class="post" style="border-bottom:1px solid #adb5bd;">

  <div class="user-block">
    <% if micropost.user.image.attached? %>
      <img src="<%= url_for(micropost.user.display_image.processed) if micropost.user.image.attached? %>" class="profile-user-img img-fluid img-circle">
    <% end %>
    <span class="username">
      <%= link_to micropost.user.name, micropost.user %>
      <a href="#" class="float-right btn-tool"><i class="fas fa-times"></i></a>
    </span>
    <span class="description"><%= time_ago_in_words(micropost.created_at) %>
      -ago.</span>
  </div>
  <p>
    <%= micropost.content %>
  </p>
  <div class="text-left">
    <%= image_tag micropost.display_image, class: "img-fluid rounded" if micropost.image.attached? %>
  </div>
  <p>
    <a href="#" class="link-black text-sm mr-2"><i class="far fa-thumbs-up mr-1"></i>
      Like</a>
    <span class="float-right">
          <a href="#collapse-card-comment-<%= micropost.id %>" class="link-black text-sm" data-toggle="collapse">
            <i class="far fa-comments mr-1"></i> Comments(<%= micropost.post_comment.count %>)
          </a>
        </span>
  </p>
  <% if micropost.post_comment.present? %>
    <% micropost.post_comment.each do |comment| %>
      <div id="collapse-card-comment-<%= micropost.id %>" class="collapse">
        <div class="card-footer card-comments">
          <div class="card-comment">
            <!-- User image -->
            <%= image_tag comment.micropost.user.display_image, class: "img-circle img-sm" if comment.micropost.user.image.attached? %>
            <div class="comment-text">
                                    <span class="username"><%= comment.micropost.user.name %>
                                      <span class="text-muted float-right"><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></span>
                                    </span>
              <!-- /.username -->
              <%= comment.content %>
            </div>
            <!-- /.comment-text -->
          </div>
          <!-- /.card-comment -->
        </div>
      </div>
    <% end %>
  <% end %>
  <%= form_with(model: post_comment, url: post_comments_path, class: "form-horizontal", local: false, id: "post_comments_form") do |f| %>
    <div class="card-footer">
      <% if micropost.user.image.attached? %>
        <img src="<%= url_for(micropost.user.display_image.processed) if micropost.user.image.attached? %>" class="img-fluid img-circle img-sm">
      <% end %>
      <div class="img-push">
        <%= f.hidden_field :micropost_id, value: micropost.id %>
        <%= f.text_field :content, class: "form-control form-control-sm", placeholder: "Type a comment" %>
        <%= f.submit "Post", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
