<!DOCTYPE html>
<html>
<%= render "layouts/head" %>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
  <div id="login_flash">
    <%= render "shared/flash_messages", user: @current_user %>
    <%= render "shared/flash_messages_script" %>
  </div>
  <%= render "layouts/navbar" %>
  <%= render "layouts/sidebar" %>
  <!-- Content Header (Page header) -->
  <%= yield %>
  <%= render "layouts/footer" %>
</div>
</body>
</html>
