<!DOCTYPE html>
<html>
<%= render "layouts/head" %>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <%= render "layouts/navbar" %>

  <%= render "layouts/sidebar" %>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <%= yield %>
  </div>
  <%= render "layouts/footer" %>
</div>
</body>
</html>
