<!DOCTYPE html>
<html>
<%= render "layouts/head" %>

<body class="hold-transition register-page">
<div class="container">
  <%= render "shared/flash_messages" %>
  <%= render "shared/flash_messages_script" %>
</div>
<div class="register-box">
  <div class="register-logo">
    <%= link_to "AdminLTE", root_path %>
  </div>
  <%= yield %>

</div>
<!-- /.register-box -->

</body>
</html>
